{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-wrap-multilines": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "quotes": [ 2, "double" ],
    "import/no-extraneous-dependencies": 0,
    // "semi": [ 2, "always" ],
    // "no-underscore-dangle": 0,
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}